@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.App-header {
  background-color: #ff7b00;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Menu{
  display: flex;
  flex-direction: column;
  background-color: #538dff;
  min-height: 90vh;
}

.Menu_1{
  padding: 100px 0px 0px 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
