@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.App-header {
  background-color: #ff7b00;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}
.Home-btn{
  display: flex;
  background-color: #538dff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 10vh;
  min-height: 10vh;
}

.Home-titl{
  padding: 0px 0px 0px 20px;
}


