@import '~antd/dist/antd.css';
.Menu{
  display: flex;
  flex-direction: column;
  background-color: #538dff;
  min-height: 90vh;
}

.Menu_1{
  padding: 100px 0px 0px 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.Title-text{
  padding: 10px 0px 0px 0px;
  font-size: 30px;
  background-color: #e0de637e;
  min-height: 90vh;
  
}

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
}
.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.Form{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.Input{
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 10px;
}

.Form .ant-input {
  width: 400px;
  margin: 0 8px 8px 0;
}
