@import '~antd/dist/antd.css';
.Menu{
  display: flex;
  flex-direction: column;
  background-color: #e0de637e;
  min-height: 90vh;
}

.Menu_1{
  padding: 100px 0px 0px 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
